<div id="page">
  <h2>Compare all facility types and find what's best for you.</h2>
  <section >
   
    <table cellspacing="0">
      <thead>
        <tr>
           <th id="th_feature">
              
            </th>
          <th>
            <a href="#" class="urgent_care type"><span class="icon">&nbsp;</span><span class="name">Urgent Care</span></a>
            
          </th>
          <th>
            <a href="#" class="telemedicine  type"><span class="icon">&nbsp;</span><span class="name">Telemedicine</span></a>
            
          </th>
          <th>
            <a href="#" class="walk_in_clinic type"><span class="icon">&nbsp;</span><span class="name">Walk In Clinic</span></a>
            
          </th>
          <th>
            <a href="#" class="retail_clinic type"><span class="icon">&nbsp;</span><span class="name">Retail Clinic</span></a>
            
          </th>
          <th>
            <a href="#" class="urgent_dental type"><span class="icon">&nbsp;</span><span class="name">Urgent Dental</span></a>
            
          </th>
          <th>
            <a href="#" class="pharmacy_24h type"><span class="icon">&nbsp;</span><span class="name">24h Pharmacy</span></a>
            
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="even">
                      <td></td>
                      <td><p>Primarily used to treat patients with an injury or illness that requires immediate care, but is not serious enough to warrant a visit to an emergency</p></td>
                      <td><p>The use of telecommunication and information technologies to connect patients with physicians and/or nurses to provide clinical health care at a distance</p></td>
                      
                      <td><p>Highly trained physicians and staff available to treat patients for almost all non-life threatening health-issues, 7 days a week, without an appointment required.</p></td>
                      
                      <td><p>Clinics located in retail stores, supermarkets, and pharmacies that treat uncomplicated, minor illnesses and provide preventative healthcare.</p></td>
                      <td><p><p>Emergency dental care </p></p></td>
                      <td><p>Whether you need cough medicine for your little one or an emergency prescription refill, sometimes you can't wait until 9 a.m.</p></td>
                      
                    </tr> -->
        <tr class="odd">
          <td>Vaccination</td>
          <td></td>
          <td></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
        </tr>
        <tr class="even">
          <td>Bronchitis</td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
        </tr>
        <tr class="odd">
          <td>Sinus infection</td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
        </tr>
        <tr class="even">
          <td>Ear infection</td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
        </tr>
        <tr class="odd">
          <td>Bladder infection</td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
        </tr>
        <tr class="even">
          <td>Cold, sore throat and Flu</td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="odd">
          <td>Allergies and Asthma</td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
        </tr>
        <tr class="even">
          <td>Joint or Back Pain</td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>

        </tr>
        <tr class="odd">
          <td>Skin infection or rash</td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
        </tr>
        <tr class="even">
          <td>Broken Bones</td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td></td>

        </tr>
        <tr class="odd">
          <td>Urinary tract infections</td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          <td><span class="check">&nbsp;</span></td>
          <td></td>
          
          <td><span class="check">&nbsp;</span></td>
          
        </tr>
        
      </tbody>
    </table>
  
    
   
 </section>
</div>