

<div id="page">
      <section class="no_border_radius">
        <div id="map">
                
           <div class="wrap">
           
             <div id="map_canvas" ></div>
              

           </div>
         </div>
        <aside>
          <form action="#TODO" method="GET" id="search-form">

             <input type="text" placeholder="Search by name or zipcode" id="search-input"></input>
             <input type="submit" value="Search" id="search-submit" style="color:#FFF"></input>
           </form>
           
          <nav id="categories" class="medium">
            <ul >

              <li>
                <a href="#" class="all"><span class="name">All</span></a>
                
              </li>
              <li>
                <a href="#" class="urgent_care type"><span class="icon">&nbsp;</span><span class="name">Urgent Care</span></a>
                <p>Primarily used to treat patients with an injury or illness that requires immediate care, but is not serious enough to warrant a visit to an emergency</p>
              </li>
              <li>
                <a href="#" class="telemedicine type"><span class="icon">&nbsp;</span><span class="name">Telemedicine</span></a>
                <p>The use of telecommunication and information technologies to connect patients with physicians and/or nurses to provide clinical health care at a distance</p>
              </li>
              <li>
                <a href="#" class="walk_in_clinic type"><span class="icon">&nbsp;</span><span class="name">Walk In Clinic</span></a>
                <p>Highly trained physicians and staff available to treat patients for almost all non-life threatening health-issues, 7 days a week, without an appointment required.</p>
              </li>
              <li>
                <a href="#" class="retail_clinic type"><span class="icon">&nbsp;</span><span class="name">Retail Clinic</span></a>
                <p>Clinics located in retail stores, supermarkets, and pharmacies that treat uncomplicated, minor illnesses and provide preventative healthcare.</p>
              </li>
              <li>
                <a href="#" class="urgent_dental type"><span class="icon">&nbsp;</span><span class="name">Urgent Dental</span></a>
                <p>Emergency dental care </p>
              </li>
              <li>
                <a href="#" class="pharmacy_24h type"><span class="icon">&nbsp;</span><span class="name">24h Pharmacy</span></a>
                <p>Whether you need cough medicine for your little one or an emergency prescription refill, sometimes you can't wait until 9 a.m.</p>
              </li>
            </ul>
          </nav>
          
          <h5 id="warning"><span class="message"><strong>IMPORTANT:</strong> If you have a life, limb or sight threatening medical emergency, dial 911 or visit your closest emergency room</span></h5>
        </aside>
      </section>
     
      <section id="results" >
        
          <div class="wrap">
            <table id="facilities" cellspacing=1>
              <thead>
                <tr>

                  
                  <th style="text-align:left;width:240px" class="odd-col"><a href="name">Facility</a></th>

                  <th><a href="distance">Distance</a></th>
                  <th class="odd-col"><a href="wait_time" >Wait Time</a></th>
                  <th><a href="stay_length">Length of Stay</a></th>
                  <th class="odd-col"><a href="co_pay">Co-Pay</a></th>
                  <th><a href="savings">Savings vs ER</a></th>
                  <th style="width:50px"><a href="rating">Rating</a></th>
                  <th style="width:90px"></th>
                <tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
 

        
      </section>
      
      
      
      
    </div>