<div id="page" class="static">      
  <section class="framed">
    <div class="wrap">
      <h1>About</h1>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pretium, ligula ut dignissim viverra, justo lorem scelerisque sapien, nec consequat est tortor vel eros. Nulla urna nibh, sodales ut vestibulum eu, euismod vitae ipsum. Donec rutrum mattis ligula, id ullamcorper nibh congue id. Suspendisse potenti. Vestibulum pharetra tellus ac dolor sagittis tincidunt. Aliquam dignissim adipiscing tortor, at porta sem dignissim a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel leo in elit sagittis facilisis at eu quam. Nunc lacus est, iaculis aliquet tempor id, scelerisque eget orci. In lacinia nisl sit amet nibh pretium aliquet. Suspendisse nunc diam, facilisis ut aliquet vitae, malesuada ac ante. Curabitur ullamcorper diam sed est eleifend ut posuere nulla mollis. Nam massa nulla, ultrices sed viverra in, viverra in quam. Vestibulum ut sodales est. Quisque blandit erat sit amet lectus convallis imperdiet.</p>
      <h4>Donec molestie libero</h4>
      <p class="description">At nunc ultricies quis convallis tortor luctus. Vestibulum mattis egestas arcu sit amet ultricies. Suspendisse sit amet ipsum in lacus pulvinar pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse diam lorem, tincidunt a rutrum non, sodales a nunc. Aliquam mauris eros, aliquet ac pellentesque in, mollis ut odio. Fusce a nibh sit amet enim aliquet posuere.</p>
    </div>
  </section>
</div>